<a href="https://colab.research.google.com/github/hasinurcse-1703/AI-Lab-week-1-2-3/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My Python First Program "Hasinur"

In [ ]:
print("Hasinur")

Hasinur

Variables and Assignment
Statements

In [ ]:
x=9
y=5

print(x+y)

14

In [ ]:
total = x+y
print(total)

14

In [ ]:
name = "Hasinur"
name2 = "Hridoy"

Types

In [ ]:
x =20

type(x)

int

In [ ]:
type(20.5)

float

Arithmetic
operators

In [ ]:
multiplication = 9*6
print(multiplication)

54

In [ ]:
add =
10+15

SyntaxError: ignored

In [ ]:
sub = 40-8

In [ ]:
Exponentiation =
2**10
print(Exponentiation)

SyntaxError: ignored

True Division (/) vs. Floor Division (//)

In [ ]:
True_Division = 7/4
print(True_Division)

1.75

In [ ]:
Floor_Division = 11//8
print(Floor_Division)

1

In [ ]:
remainder = 19%7
print(remainder)

5

In [ ]:
x = 150

y = 105

x>y

True

In [ ]:
x<y

False

In [ ]:
x!=y

True

In [ ]:
x>=y

True

In [ ]:
x<=y

False

**Chaining Comparisons**

In [ ]:
x = 3

y = 10

In [ ]:
1 <= x <= 5

True

In [ ]:
1 <= y <= 5

False

**Printing a Comma-Separated List of Items**

In [ ]:
print('Dhaka', 'to', 'Sirajganj!')

Dhaka to Sirajganj!

**Printing Many Lines of Text with One Statement**

In [ ]:
print('Dhaka\nto\n\nSirajganj!')

Dhaka
to

Sirajganj!

**Ignoring a Line Break in a Long String**

In [ ]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

**Printing the Value of an Expression**

In [ ]:
print('Sum is', 9 + 3)

Sum is 12

**What does the following print statement display?**

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

**Including Quotes in Strings**

In [ ]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [ ]:
print('Display \'hi\' in quotes')

#using the \' escape sequence:

Display 'hi' in quotes

In [ ]:
print("Display the name O'Brien")

Display the name O'Brien

In [ ]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

**To avoid using ' and " inside strings, you can enclose such strings in triple
quotes:**

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

**Multiline Strings**

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [ ]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [ ]:
print("""This is a lengthy
multiline string containing
a few lines \

of text""")

This is a lengthy
multiline string containing
a few lines
of text

**Precision Handling in Python**

In [ ]:
a = 3.4536475856

# using "%" to print value till 2 decimal places

print ("The value of number till 2 decimal place(using %) is :
",end="") print ('%.2f' %a)

SyntaxError: ignored

In [ ]:
type(total) #python takes input as a string we have to type cast the input

int

In [ ]:
total = int(value1) + int(value2) #type casting to int format
print(total)

NameError: ignored

In [ ]:
name = input("What's your name? ")

What's your name? Hasinur

In [ ]:
print(name)

Hasinur

In [ ]:
total = int(value1) + int(value2) #type casting to int format
print(total)

NameError: ignored

**Getting an Integer from the User by casting the input format**

In [ ]:
another_value = int(input('Enter another integer: '))

Enter another integer: 112233

In [ ]:
print(another_value)

112233

Taking multiple input from the user

In [ ]:
a, b = input().split()

20 50

In [ ]:
print(a , b)

20 50

In [ ]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 40
Enter third integer: 60

In [ ]:
min(number1,number2,number3)

20

In [ ]:
max(number1,number2,number3)

60